@import url(https://fonts.googleapis.com/css?family=Poppins:wght@100;200;00;400;500;600&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #2e2e2e;
    --text-color: #fff;
    --main-color: #7b4bb7;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
    transition: filter 0.3s ease;
}

html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

.greeting {
    padding: 20px;
    text-align: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background: var(--bg-color);
    filter: drop-shadow(0px 4px 6px var(--main-color));
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.heading {
    font-size: 4.5rem; /* Adjust the size as needed */
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem; /* Space below the heading */
    color: var(--text-color); /* Optional: Ensures the text color matches your theme */
}


.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}
#toggle-button{
    color: white;
    background-color: var(--main-color);
    border: none;
    height: 35px;
    width: 130px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 2%;
    transition: opacity 1s;
    font-size: 1.2rem;
}
#toggle-button:hover{
    opacity: 0.6;
}

.greeting {
    font-size: 0.7rem;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

@media (max-width:995px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar a:hover
    .navbar a:active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid var(--main-color);
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background: var(--bg-color);
    padding-top: 11rem;
}

.home .home-content {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: var(--main-color);
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
}

.home-img img:hover {
    transform: scale(1.01);
    filter: drop-shadow(0 0 25px var(--main-color));
} 

.home-content p {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icon a:hover {
    color: white;
    transform: scale(1.3)translateY(-5px);
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

@media (max-width:000px) {
    .home {
        gap: 4rem;
    }
}

@media (max-width: 995px){
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3 {
        font-size: 2.5rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
}

/* infoooo */


.info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5em;
}

.info-box {
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.info-box:hover {
    background: transparent;
    color: var(--text-color);
    transform: scale(1.03);
    border: 1px solid var(--main-color);
}

.info-box .info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: center;
    padding: 5em;
}

.info h4 {
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}

.info p {
    font-size: 1.4rem;
    font-weight: 300;
    max-height: 90px;
    margin: auto;
    text-align: center;
}

.message-section {
    background: var(--bg-color);
    padding: 5rem 9%;
    border-radius: 2rem;
    margin: 5rem 0;
    color: var(--text-color);
}

.message-section h2 {
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 2rem;
}

.message-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--text-color);
}

.form-group input,
.form-group select,
.form-group textarea {
    background: var(--bg-color);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
}

.form-group select {
    background-color: var(--bg-color);
}

textarea {
    resize: none;
}

#suggestion {
    padding: 10px;
    font-size: 15px;
    color: var(--text-color);
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: var(--main-color);
    outline: none;
}

button {
    background: var(--main-color);
    color: var(--text-color);
    border: none;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: var(--text-color);
    color: var(--main-color);
}

/* Receipt */
#receipt {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-receipt h2 {
    text-align: center;
    color: #4CAF50;
}

.container-receipt {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.container-receipt p {
    font-size: 18px;
    margin: 15px 0;
}

.container-receipt strong {
    color: #555;
}

.container-receipt a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.container-receipt a:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    #receipt {
        padding: 10px;
    }

    .container-receipt {
        padding: 20px;
    }

    .container-receipt p {
        font-size: 16px;
    }
    
    .container-receipt a {
        padding: 8px 16px;
        font-size: 14px;
    }
}

